

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Kurumsal</h3>
                    <ul>
                        <li><a href="#">Web</a></li>
                        <li><a href="#">Geliştirme</a></li>
                        <li><a href="#">KVKK – Kişisel Verilerin Korunması</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Hakkımızda</h3>
                    <ul>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Ekip</a></li>
                        <li><a href="#">Kariyer</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>OZDEMIR</h3>
                    <p>
                        Talatpaşa Mahallesi Çelebi Caddesi No:50 <br /> Kağıthane / İstanbul <br />
                        Türkiye
                    </p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Ozdemir © @DateTime.Now.Year</p>
        </div>
    </footer>
</div>

