

<div class="tm-header">
    <div class="container-fluid">
        <div class="tm-header-inner">
            <a href="/Article/Index/" class="navbar-brand tm-site-name">Blog Proje</a>


            <nav class="navbar tm-main-nav">

                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                </button>

                <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a href="/Article/Index/" class="nav-link">Anasayfa</a>
                        </li>

                        <li class="nav-item">
                            <a href="/Contact/Index/" class="nav-link">İletişim</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Account/UserRegister/" class="nav-link">Kayıt Ol</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Account/Login/" class="nav-link">Giriş</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Admin/Home/Index/" class="nav-link">Admin</a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>
    </div>
</div>