@using BlogEntity.Concrete
@model List<User>


@{
    ViewData["Title"] = "RoleList";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Kullanıcı Rol Listesi</h1>



<div id="modalPlaceHolder" aria-hidden="true"></div>

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Rol Tablosu
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="blogtable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Kullanıcı</th>
                        <th>Rol Atama</th>


                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.UserName</td>
                        <td><a href="/Admin/AdminRoll/Assign/@item.Id/" class="btn btn-success">Rol Ata</a></td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        <a href="/Admin/AdminRoll/Index/" class="btn btn-primary">Rol Listesine Geri Dön</a>

    </div>

</div>
